.mission-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f3f3f3;
  border-radius: 5px;

  .mission-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  .mission-description {
    font-size: 1rem;
    width: 40%;
    text-align: justify;
    margin-right: 1rem;
  }

  .mission-badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    .active-member-badge {
      background-color: green;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }

    .not-a-member-badge {
      background-color: red;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  }

  .mission-action-container {
    .join-mission-button,
    .leave-mission-button {
      background-color: blue;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
